{% extends 'base.html' %}
{% block content %}

<ul>
    <h5>Hi {{ session['fname'] }}!</h5>
</ul>

<form action="/add-trip" method= "POST">

    <ul>
        <p>What's the name of your trip?<input type="text" name="trip_name"></p>
        <p>Start date:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="datetime-local" name="start_trip" id ='start_trip'></p>
        <p>End date:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="datetime-local" name="end_trip" id ='end_trip'></p>
        <p>Would you like your trip to be public?&nbsp&nbsp&nbsp&nbsp<input type="radio" name="is_public" value='True' checked>Yes
        </p>

        <p><input type="submit" value="Save"></p>

    </ul>
</form>
<br><br><br><br>
<ul><h5><a href="/logout">Log Out</a></h5></ul>

{% endblock %}