{% extends 'base.html' %}
{% block content %}

<style>
.row-bottom-margin { 
  margin-bottom:5px !important;
 
  }
</style>

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
 -->

 <link rel="stylesheet" href="/static/css/profile-page.css">

{%include 'nav-bar-min.html'%}
<div class = "bg">

<ul>
    <!-- <h1 class="bold-type">Hi {{ session['fname'] }}!</h1> -->
    <br><br>
</ul>

<br><br><br><br><br><br><br><br><br>
<div class="container"><br><br><br>
  <div class="row vertical-center row-bottom-margin" style="height:50px">
    {% for user in all_users_list %}
          {% if user.user_id != session['current_user_id']%}
            <div class="col-sm-3 ">
              <div class="card scroller scrollbar-near-moon" style="margin:10px">
                <div class="card-body">
                  <h5 class="card-title"><a href="/user-friend/{{user.user_id}}" >{{user.fname}}&nbsp{{user.lname}}</a></h5>
              
                    {%for trip in user.trips%}
                      <ul><li><a href="/friend-trip-map-view/{{ trip.trip_name }}" >{{ trip.trip_name }}</a></li></ul>  
                  
                    {%endfor%}
                </div>
              </div>
            </div>
          {% endif %}  
        {% endfor %}
    
    
      
  </div>
</div>



<br>

<!-- <h2><p><a href="/users/{{session['current_user_id']}}" >My Profile</a></p></h2> 
 -->
</div>

{% endblock %}


