{% extends 'base.html' %}
{% block content %}

    <h3>Hi {{ session['fname'] }}!</h3>
    <h2>{{session["current_trip_name"]}}</h2>
    <div> 
        <a href="/map-view" >Map View</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/calendar-view" >Calendar View</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/users/{{session['current_user_id']}}" >My Profile</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/logout">Log Out</a>
    </div>
    <br><br>
    
    <div>
        <ui>
        {% for user in users_to_invite %}
            
             <li>
                <a href="/user-friend/{{user.user_id}}" >{{user.fname}}&nbsp{{user.lname}}</a>
                <form action="/make-follower" method="POST">
                    <input type="hidden" name="user" value="{{user.user_id}}">

                    <input type="submit" value="Invite to Follow">

                </form>

             </li>
         </ui>
    </div>


    {% endfor %}









{%endblock%}