
{% extends 'base.html' %}
{% block content %}
<!--     <script  src="static/js/helper-functions.js"></script>
 -->
    <h3>Hi {{ session['fname'] }}!</h3>
    <h2>{{session["current_trip_name"]}}</h2>
    <div><a href="/calendar-view" >Calendar View</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/search" >Add places to trip</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/followers" >Followers</a>&nbsp&nbsp&nbsp&nbsp
        <a href="/users/{{session['current_user_id']}}" >My Profile</a>&nbsp&nbsp&nbsp&nbsp<a href="/logout">Log Out</a>

    </div>
<br>

    {% include 'modal.html' %}

<!--     {% include 'base-menu.html' %}
 -->
    <div id="map"></div>
    <!-- Replace the value of the key parameter with your own API key. -->
    
    <script>

        var markers = [];
        var infoWindowList = []; 

        function initMap() {
            
            // var pinpoint;
            //get request to get the current trip and list of pinpoints
            $.get("/map-view-pinpoints", function(trip_info){
                // go through pinpoint objects list
                // for each pinpoint:
                // we have name, lat, lng
                // put those values into marker
                // push into markers list

                var pinpoint_list = trip_info["pinpoint_list"];

                //instantiating map with center as first pinpoint in list


                var myLatLng = {lat: pinpoint_list[0]["lat"], lng: pinpoint_list[0]["lng"]};
                var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 12,
                                center: myLatLng
                                });

                //list of pinpoints
                for (var i=0; i<pinpoint_list.length;i++){

                    var lat = pinpoint_list[i]["lat"]; 
                    var lng = pinpoint_list[i]["lng"];
                    var position = {lat:lat, lng:lng};
                    var name = pinpoint_list[i]["name"];
                    var start = pinpoint_list[i]["start"];
                    var end = pinpoint_list[i]["end"];
                    var rating = pinpoint_list[i]["rating"];
                    var description = pinpoint_list[i]["description"];

                    // var marker = new google.maps.Marker({
                    //     position: position,
                    //     map: map,
                    //     title: 'Hello World!'
                    // });

                    markers.push(new google.maps.Marker({
                                  map: map,
                                  title: name,
                                  position: position,
                                  start: start,
                                  end: end,
                                  rating: rating,
                                  description: description
                    }));

                    

                }//enndof for pinpoint_list.length loop

                ////////////info window trial-------

                for ( let i=0; i<markers.length; i++){
                    //go over each marker and make info window with event listener
                   
                    let marker = markers[i];
                       
                /////the one that works:
                    // var contentString = "<h1>" + marker.title  + "</h1>"+ "<button id='deleteMarker' class='deleteMarker'>Delete</button>";
                ////doesn't work:
                    // var contentString = "<h1>" + marker.title  + "</h1>"+"<h3>"+ marker.description + "<h3>"+ <button id='deleteMarker' class='deleteMarker'>Delete</button>";

                    //////////////try to add edit button to open modal
                    //original info windowand button:
                    // var contentString = "<h1>" + marker.title + "</h1>"+"<h5>" + marker.description + "</h5>" +"<h5>"+ "rating:" +marker.rating +"</h5>" +"<p>"+ marker.start +"</p>" +"<p>"+ marker.end +"</p>"  +"<button id='deleteMarker' class='deleteMarker'>Delete</button>";


                    //trying data attribute- added data-title to edit button
                    // var contentString = '<h1>' + marker.title + '</h1>'+'<h5>' + marker.description + '</h5>' +'<h5>'+ 'rating:' +marker.rating +'</h5>' +'<p>'+ marker.start +'</p>' +'<p>'+ marker.end +'</p>'  + '<button id="deleteMarker" class="deleteMarker"> Delete </button>' + "<button id='addMarker'  data-title=" + marker.title + 'class="btn btn-primary"  data-toggle="modal" data-target="#exampleModalLong" >Edit</button>';

                    var contentString = '<h1>' + marker.title + '</h1>'+'<h5>' + marker.description + '</h5>' +'<h5>'+ 'rating:' +marker.rating +'</h5>' +'<p>'+ marker.start +'</p>' +'<p>'+ marker.end +'</p>'  + 
                        '<button id="deleteMarker" class="deleteMarker"> Delete </button>' + 
                        '<button id="addMarker"  data-title="' + marker.title + '"class="btn btn-primary"  data-position=" '+ marker.position+ '"  data-toggle="modal" data-target="#exampleModalLong" >Edit</button>"';

                    //adding extra quotations around + marker.title + made this work
//example of quotations:
// output1 += '<li offertitle="'+value.offer_title+'" offer-desc="'+value.offer_desc+'" "><a href="#""><h1>'+value.offer_title+'</h1><p>'+value.offer_desc+'</p><p class="ui-li-aside"><b>Expiry Date:</b>'+value.expiry_date+'</p></a></li>';



                    //creating infoWindow
                    var infowindow1 = new google.maps.InfoWindow({
                          content: contentString,
                          maxWidth: 200
                      });

                    infoWindowList.push(infowindow1);

                    // listening for click on marker
                    marker.addListener('click', function() {
                        // when clicking on marker, close all open info windows
                        closeOtherInfoWindows(map);
             
                        infoWindowList[i].open(map, marker);
                        $('#pinpoint-title').text(marker.title);

                    });//endof addListener

                }//endof infoWindow trial

/////////////////////////////////////////////////////////////////



              });// end of $get and end of callback function

            // go over all open info windows and close them
            function closeOtherInfoWindows(map){

                infoWindowList.forEach(function(window) {
                    window.close(map, window);

            });
            }



            }//end of function init map
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&callback=initMap">
    </script>


{% endblock %}
