<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
<!--   <div class="modal-dialog modal-dialog-centered" role="document">-->  
  <div class="modal-dialog modal-lg" role="document">
   
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> {{session["current_trip_name"]}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


            {% include 'pinpoint-form.html' %}

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="saveMarkerInfo()" >Save changes</button>

<!--         <button type="button" class="btn btn-primary" onclick=saveMarkerInfo({{session['current_trip_name']}})>Save changes</button>
 -->      </div>
    </div>
  </div>
</div>

<!-- moved this from seperate jsfile to here because of error--> <script>
// function to save to database
    function saveMarkerInfo(){
        console.log("in function saveMarkerInfo");
        // one way to get the element of the title:
        // var marker = document.getElementById('addMarker');
        // var name = marker.dataset.title; 
        // console.log("this is the name:");
        // console.log(name);

        var marker_title = $("#addMarker").data("title");
        // doesn't give value
        // console.log(" this is the title:");
        // console.log(marker_title);

        var marker_position = $("#addMarker").data("position");
        // console.log("marker_position is");
        // console.log(marker_position);

        // make a query getting the pinpoint from database
        // get all info from the pinpoint form
        // update the info in thedatabase using pinpoint id 

        ///////////////////how to do without for loop
        // for ( let i=0; i<markers.length; i++){
        // console.log("in for loop");
        var name = marker_title;
        // var latlng = marker_position.getPosition().toString();
        var start = document.getElementById("start").value;
        var end = document.getElementById("end").value;
        var rating = document.getElementById("rating").value;
        var description = document.getElementById("description").value;

        var if_exists = true; // true= if editing the pinpoint, false= if addig a new pinpoint
        var file = document.getElementById("file").value;
        console.log("file is:"+file);
        var place = {"name": name, "start": start, "end":end, "rating": rating, "description":description, "if_exists":if_exists, "file":file}; 
      
        // var file_path = document.getElementById("pic").value;
        // // $.post("/add-pinpoint", {"name": name}, resultFunc);
        $.post("/add-pinpoint", place, resultFunc);
        // $.post("/add-photos", file_path)
        // console.log("marker.title: "+ name);
       
     }

     function resultFunc(result){
          console.log("in resultFunc");
          alert(result);
    }
  </script>