<h2>Name of Destination</h2>
<!-- <form action="/register" method= "POST">-->
<form>

<!--     To set a default value for an input element, you can set a value attribute, like:
<input type="text" name="firstname" value="Jessica">
 -->
    <p>When?&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="datetime-local" name="start" id ='start'></p>
    <p>Until?&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="datetime-local" name="end" id='end'></p>
<!--     <p>How long?&nbsp&nbsp&nbsp<input type="text" name="duration"></p>
    <p>Lat:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="lat"></p>
    <p>Lng:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="lng"></p> -->

    <div>
        <p>Rating:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<select name="rating" id="rating"></p>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        </select>
    </div>

    <p>Description: </p>
    <div> 
        <textarea name="description" id="description"></textarea>
    </div>

<!--     <p><input type="submit" value="Save"></p> -->
</form>