<!-- <!DOCTYPE html>
<html>
  <head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8"> -->

<!-- <link href="static/button.css" rel="stylesheet">-->

<!-- linking css style for map-->
<!--     <link rel="stylesheet" href="/static/css/map-style.css">
    <link rel="stylesheet" href="/static/css/infowindow-modal.css">

    <title>Places Search Box</title> -->


{% extends 'base.html' %}
{% block content %}
  <h2>Trip Name:&nbsp{{session["current_trip_name"]}}</h2>
  <p><a href="/calendar-view" >Calendar View</a></p>
  <p><a href="/map-view" >Map View</a></p>
  <p><a href="/user_profile" >My Profile</a></p> 

{% include 'modal.html' %}
<!--   <body>-->  
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="map"></div>

<!--   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Launch demo modal
</button>
 -->
  <!-- <div class="modal">
      <div class="modal-content">
          <span class="close-button">×</span>
          <h1>Hello, I am a modal!</h1>
      </div>
  </div> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<!--     <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&libraries=places&callback=initAutocomplete"></script> -->


    <script>
      // This example adds a search box to a map, using the Google Place Autocomplete
      // feature. People can enter geographical searches. The search box will return a
      // pick list containing a mix of places and predicted search terms.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      //movedfrom line 150
      var markers = [];


      function initAutocomplete() {
          //the map view will be constant
          const map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -33.8688, lng: 151.2195},
            zoom: 13,
            mapTypeId: 'roadmap'
            });

          //****added geolocation to find user's location ****
          // infowindow saying my position is found
          let infoWindow = new google.maps.InfoWindow;

          // HTML5 geolocation.
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                  lat: position.coords.latitude,
                  lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent('Location found.');
                infoWindow.open(map);
                map.setCenter(pos);
              }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
              }); //endof getCurrentPosition
          } else {
            // If browser doesn't support Geolocation
              handleLocationError(false, infoWindow, map.getCenter());
            }

          // ***End of addition- geolocation***

          // Create the search box and link it to the UI element.
          var input = document.getElementById('pac-input');
          var searchBox = new google.maps.places.SearchBox(input);
          map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

          // Bias the SearchBox results towards current map's viewport.
          map.addListener('bounds_changed', function() {
            searchBox.setBounds(map.getBounds());
          });

          // var markers = [];


          // Listen for the event fired when the user selects a prediction and retrieve
          // more details for that place.
          searchBox.addListener('places_changed', function() {
              var places = searchBox.getPlaces();

              if (places.length == 0) {
                  return;
              }

              // Clear out the old markers.
              ///////commenting out in order to save marker
              // markers.forEach(function(marker) {
              //   marker.setMap(null);
              // });
              // markers = [];

              // For each place, get the icon, name and location.
              var bounds = new google.maps.LatLngBounds();
              places.forEach(function(place) {
                  if (!place.geometry) {
                      console.log("Returned place contains no geometry");
                      return;
                  }
                  var icon = {
                      // *******This is what changes the marker icon******
                      url: place.icon,
                      // url: "http://www.clker.com/cliparts/v/G/a/3/i/a/map-marker-hi.png",
                      size: new google.maps.Size(71, 71),
                      origin: new google.maps.Point(0, 0),
                      anchor: new google.maps.Point(17, 34),
                      scaledSize: new google.maps.Size(25, 25)
                  };

                  // Create a marker for each place.
                 
                  markers.push(new google.maps.Marker({
                      map: map,
                      icon: icon,
                      title: place.name,
                      position: place.geometry.location
                  }));

                  console.log("just pushed in marker");
                  
                  if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                      bounds.union(place.geometry.viewport);
                  } else {
                      bounds.extend(place.geometry.location);
                  }

                //trial infoWindow -- works! multiple infowindows


                // saveMarkerInfo();
                for ( let i=0; i<markers.length; i++){
                    //add content and "Add" button

                    let marker = markers[i];
                   
                    // var contentString = "<h1>" + marker.title + "</h1>"+ 
                    //     "<button id='addMarker'"+i +"class='addButton'>+Add</button>";

                    // session['title'] = marker.title;
                    // var contentString = "<h1>" + marker.title + "</h1>"+ "<button id='addMarker' class='addButton' onclick='saveMarkerInfo()'>+Add</button>";
                   // var contentString = "<h1>" + marker.title + "</h1>"+ "<button id='addMarker' class='btn btn-primary'  data-toggle='modal' data-target='#exampleModalCenter' >+Add</button>";
                   var contentString = "<h1>" + marker.title + "</h1>"+ "<button id='addMarker' class='btn btn-primary'  data-toggle='modal' data-target='#exampleModalLong' >+Add</button>";



//   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
//   Launch demo modal
// </button>


                    var infowindow1 = new google.maps.InfoWindow({
                          content: contentString,
                          maxWidth: 200
                      });


                    //listening for click on marker

                    marker.addListener('click', function() {
             
                      infowindow1.open(map, marker);

                    });


                    }//endof infoWindow trial

              }); //endof places.foreach
            map.fitBounds(bounds);
          }); //endof searchBox.addListener
      

        //To handle location error:
        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
              infoWindow.setPosition(pos);
              infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
               infoWindow.open(map);
        }

    }//endof initAutocomplete
          
    

// function to save to database
    function saveMarkerInfo(){
        console.log("in saveMarkerInfo");

        ///////////////////how to do without for loop
        for ( let i=0; i<markers.length; i++){
            console.log("in for loop");
            var name = markers[i].title;
            var latlng = markers[i].getPosition().toString();
            var start = document.getElementById("start").value;
            var end = document.getElementById("end").value;
            var rating = document.getElementById("rating").value;
            var description = document.getElementById("description").value;


            var place = {"name": name, "start": start,
            "end":end, "latlng": latlng, "rating": rating, "description":description}; 
          
            
            // $.post("/add-pinpoint", {"name": name}, resultFunc);
            $.post("/add-pinpoint", place, resultFunc);
            console.log("markers[i].title: "+ name);
           }
     }

    function resultFunc(result){
      console.log("in resultFunc");
      alert(result);
    }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{key}}&libraries=places&callback=initAutocomplete"></script>



{% endblock %}

