{% extends 'base.html' %}

    <title>Trip Photos</title>
    {% include 'style-nav-bar.html' %}
    {% block content %}

    <h3>Hi {{ session['fname'] }}!</h3>
    <h2>Photos from {{session["current_trip_name"]}}</h2>
    <br>


    <!-- <div>
        <a href="/map-view">Map View</a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/calendar-view" >Calendar View</a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/search" >Add places to trip</a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/followers" >Followers</a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/users/{{session['current_user_id']}}" >My Profile</a>&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/logout">Log Out</a>

    </div> -->
<div>
    <h5>Add Photos</h5>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        Where was the photo taken?

<!-- put dropdown of pinpoints for this trip
 -->
            <select name="pp_id" id="pp_id">
                    <option value="None" id="pp_id">N/A</option>
                {% for pinpoint in pinpoint_dict_list %}
                    <option value="{{pinpoint['pp_id']}}" >{{pinpoint['name']}}</option>
                {% endfor %}
             
            </select>
            

        <input type=submit value=Upload>
    </form>
    <br>
</div>
    
    {%for photo in photos_list%}
        <a href="/show-photo/{{photo.file_name}}">
            <img src="{{photo.file_path}}" alt="{{photo.file_name}}" height="100" width="100">
        </a> 
        <br>
    {%endfor%}



{% endblock %}









