{% extends 'base.html' %}
{% block content %}



<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1">
 -->

 <link rel="stylesheet" href="/static/css/profile-page.css">
 
{%include 'nav-bar-min.html'%}


<div class="bg">
<h1 >&nbsp&nbsp&nbsp&nbsp&nbsp&nbspHi {{ session['fname'] }}</h1>

<div class="container"><br><br>
  <div class="row vertical-center">
    <div class="col-sm-6 ">
      <div class="card scroller scrollbar-near-moon">
        <div class="card-body">
          <h5 class="card-title">My Trips</h5>
          <!-- <p class="card-text"> MY TRIPS GO HERE </p> -->
          <p> 
            <ul>{% for trip in my_trips %}
                    <li><a href="/trip/{{trip.trip_name}}" >{{trip.trip_name}}</a></li>
                {% endfor %}
                {% if not my_trips %}
                    No trips to show
                {% endif %}
            </ul> 
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          
        </div>
      </div>
      <br>
      <!-- <div class="col-4 "> -->
      <div class="col-md-8 ml-md-auto ">
        <a href="/add-trip" class="btn btn-primary btn-lg btn-new" role="button" >Add Trip</a>
      </div>
   
    </div>
    <div class="col-sm-6">
      <div class="card scroller scrollbar-near-moon">
        <div class="card-body">
          <h5 class="card-title">Following</h5>
          <p class="card-text">     
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <ul>{% for trip in followed_trips %}
                        <li><a href="/friend-trip-map-view/{{trip.trip_name}}">{{trip.trip_name}}</a></li>
                    {% endfor %}
                    {% if not followed_trips %}
                        No trips to show
                    {% endif %}
                </ul>
          </p>
        </div>

      </div>
      <br>
      <div class="col-md-8 ml-md-auto ">
        <a href="/explore" class="btn btn-primary btn-lg btn-new" role="button" >Explore</a>
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}


